*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* *-*-*-*-*-*-*-*-*-*-*-*-* Utility Components *-*-*-*-*-*-*-*-*-*-*-*-* */
:root {
    font-size: 62.5%;

    /**** Custom Properties ****/
    --primary-color: hsl(225, 100%, 94%);
    --secondary-color: hsl(225, 100%, 98%);
    --button-color: hsl(245, 75%, 52%);

    /* Fonts Color */
    --font-color-p: hsl(224, 23%, 55%);
    --font-color-h: hsl(223, 47%, 23%);
}

body {
    background-color: var(--primary-color);
    background-image: url(images/pattern-background-desktop.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Red Hat Display', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    cursor: pointer;
}

button a {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

h1 {
    color: var(--font-color-h);
    font-size: 2.7rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

h2 {
    font-weight: 700;
}

p {
    color: var(--font-color-p);
    font-size: 1.5rem;
    font-weight: 500;
}

/* *-*-*-*-*-*-*-*-*-*-*-*-* Main Styling*-*-*-*-*-*-*-*-*-*-*-*-* */

section.card,
div.card__hero-img {
    width: 45rem;
}

section.card {
    background-color: white;
    border-radius: 1.5rem;
    height: 68.4rem;
    overflow: hidden;
}

div.card__hero-img {
    background-image: url(images/illustration-hero.svg);
    background-position: center;
    height: 22rem;
    margin-bottom: 6rem;
}

div.card__content {
    margin: auto;
    width: 80%;
}

div.card__description {
    margin: 0 auto 2.5rem auto;
    width: 90%;
}

div.card__plan {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    height: 6.6rem;
    margin-bottom: 3rem;

    display: flex;
    align-items: center; 
}

div.card__plan-img {
    background-image: url("images/icon-music.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 4.8rem;
    width: 4.8rem;
}

div.card__plan-info,
div.card__plan-img,
div.card__plan-change {
    display: inline-block;
}

div.card__plan-img {
    margin: 0 2.5rem;
}

div.card__plan-info {
    margin-right: 10rem;
}

div.card__plan-info p {
    margin: 0;
}

div.card__plan-change a {
    font-size: 1.5rem;
    font-weight: 700;
}

div.card__btn {
    display: flex;
    flex-direction: column;
}

div.attribution { 
    font-size: 1.1rem; 
    text-align: center; }
div.attribution a { 
    color: hsl(228, 45%, 44%); 
}