*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* *-*-*-*-*-*-*-*-*-*-*-*-* Utility Components *-*-*-*-*-*-*-*-*-*-*-*-* */
:root {
    font-size: 62.5%;

    /**** Custom Properties ****/
    --primary-color: hsl(225, 100%, 94%);
    --secondary-color: hsl(225, 100%, 98%);
    --button-color: hsl(245, 75%, 52%);

    /* Fonts Color */
    --font-color-p: hsl(224, 23%, 55%);
    --font-color-h: hsl(223, 47%, 23%);
}

body {
    background-color: var(--primary-color);
    background-image: url(images/pattern-background-desktop.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 100vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }